h3 {
    font-size: 30px;
    text-decoration: overline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.second {
    /* display: none; */
    /* visibility: hidden; */
}
.blog {
    margin: 40px;
    border: 10px solid tomato;
    box-shadow: 10px 10px 20px aqua;
}
.sit {
    border: 3px solid purple;
    display: inline-block;
    height: 200px;
    margin: 50px;
}
li {
    display: inline;
}
.header {
    height: 500px;
    /* background-color: beige; */
    background-image: url(../../image/me.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
}
.dolar {
    border: 3px solid peru;
    height: 60px;
    display: inline-block;
}